body {
  background-color: #bfd7ea;
}

a {
  color: #b9314f;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav li {
  display: inline;
  padding: 1em;

}

h1 a {
  color: #3a4f41;
  font-size: 4rem;
  padding-left: 2em;
}

h1 {
  color: #3a4f41;
  font-size: 4rem;
}

h2 {
  color: #3a4f41;
  font-size: 3rem;
}
footer {
  font-size: 2rem;
}
